{% extends "base.html" %}

{% block content %}
    <script>
    document.cookie = "db-backUrl=" + window.location.href+";";
    </script>
    <h1>Login In</h1>
    <form action="/products" method="GET" novalidate>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.state_select.label }}<br>
            {{ form.state_select(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}