{% extends "base.html" %}
{% block content %}
<script>
    function addAddr() {
        document.getElementById("addNewAddress").style.display = "block";
    }

    function validateData(inputAddress, inputCity, inputState, inputZip) {
        if(inputAddress != "" && inputCity !="" && inputCity !="" && inputZip != "") {
            return true;
        }
        return false;
    }

    var paymentDetails = {"credit_id": -1, "addr_id": -1};
    function selectCard(credit_id) {
        if(paymentDetails["credit_id"] != -1) {
            document.getElementById(paymentDetails["credit_id"].toString()).style.backgroundColor="white";
        }
        document.getElementById(credit_id.toString()).style.backgroundColor="pink";
        paymentDetails["credit_id"] = credit_id;
    }

    function selectAddr(addr_id) {
        if(paymentDetails["addr_id"] != -1) {
            document.getElementById(paymentDetails["addr_id"].toString()).style.backgroundColor="white";
        }
        document.getElementById(addr_id.toString()).style.backgroundColor="pink";
        paymentDetails["addr_id"] = addr_id;
    }
    
    function saveAddress() {
        inputZip = document.getElementById("inputZip").value;
        inputAddress = document.getElementById("inputAddress").value;
        inputCity = document.getElementById("inputCity").value;
        inputState = document.getElementById("inputState").value;
        if(validateData(inputAddress, inputCity, inputState, inputZip)) {
            document.getElementById("addNewAddress").style.display = "none";
            document.getElementById("error").style.display = "none";

            //TODO: send address and reload page
            var params = "inputZip=" + inputZip + "&inputAddress=" + inputAddress + "&inputCity=" + inputCity + "&inputState=" + inputState;
            var xhr = new XMLHttpRequest();

            xhr.open("GET", '/add-address?'+ params, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
            window.location.replace(window.location.origin+"/payment-page?random="+Math.random());

        } else {
            document.getElementById("error").style.display = "block";

        }
    }

    function editAddr(addr_id, inputAddress, inputCity, inputState, inputZip) {
        //shade the card
        document.getElementById(addr_id.toString()).style.backgroundColor="yellow";

        //delete addr without refresh
        deleteAddrWithoutReload(addr_id);

        //populate
        addAddr();
        document.getElementById("inputZip").value = inputZip.toString();
        document.getElementById("inputAddress").value = inputAddress;
        document.getElementById("inputCity").value = inputCity;
        document.getElementById("inputState").value = inputState;

    }

    function deleteAddrWithoutReload(address_id) {
        var params = "address_id=" + address_id;
        var xhr = new XMLHttpRequest();

        xhr.open("GET", '/delete-address?'+ params, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
    }

    function deleteAddr(address_id) {
        var params = "address_id=" + address_id;
        var xhr = new XMLHttpRequest();

        xhr.open("GET", '/delete-address?'+ params, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        window.location.replace(window.location.origin+"/payment-page?random="+Math.random());
    }
    
    function addNewCreditCard() {
        document.getElementById("addNewCreditCard").style.display = "block";
    }

    var editted = 000;
    var needsUpdateCard = false;
    function editCard(credit_id, inputAddress, inputCredit, inputCity, inputState, inputZip) {
        //shade the card
        document.getElementById(credit_id.toString()).style.backgroundColor="yellow"
        //delete card without refresh
        deleteCardWithoutRefresh(credit_id)

        //populate
        addNewCreditCard();
        document.getElementById("inputBillingZip").value = inputZip.toString();
        document.getElementById("inputStreetAddress").value = inputAddress;
        document.getElementById("inputBillingCity").value = inputCity;
        document.getElementById("inputBillingState").value = inputState;
        document.getElementById("inputCreditCard").value = inputCredit;

    }

    function deleteCardWithoutRefresh(credit_id) {
        var params = "credit_id=" + credit_id;
        var xhr = new XMLHttpRequest();

        xhr.open("GET", '/delete-credit-card?'+ params, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
    }

    function deleteCard(credit_id) {
        var params = "credit_id=" + credit_id;
        var xhr = new XMLHttpRequest();

        xhr.open("GET", '/delete-credit-card?'+ params, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        window.location.replace(window.location.origin+"/payment-page?random="+Math.random());
    }
    function saveCreditCardInfo() {
        inputZip = document.getElementById("inputBillingZip").value;
        inputAddress = document.getElementById("inputStreetAddress").value;
        inputCity = document.getElementById("inputBillingCity").value;
        inputState = document.getElementById("inputBillingState").value;
        inputCredit = document.getElementById("inputCreditCard").value;

        if(validateData(inputAddress, inputCredit, inputCity, inputState, inputZip)) {
            document.getElementById("addNewCreditCard").style.display = "none";
            document.getElementById("error").style.display = "none";

            var params = "card_number=" + inputCredit + "&street_address=" + inputAddress + "&city=" + inputCity + "&postal_state=" + inputState + "&zip=" + inputZip;
            var xhr = new XMLHttpRequest();

            xhr.open("GET", '/add-credit-card?'+ params, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
            window.location.replace(window.location.origin+"/payment-page?random="+Math.random());
            parent.window.location.reload(true)
        } else {
            document.getElementById("error2").style.display = "block";

        }
    }

        function submitOrder() {
            // paymentDetails = {"credit_id": -1, "addr_id": -1};

            if(paymentDetails["credit_id"] == -1 || paymentDetails["addr_id"] == -1){
                document.getElementById("error3").style.display = "block";
            } else {
                var params = "credit_id=" + paymentDetails["credit_id"] + "&addr_id=" + paymentDetails["addr_id"];
                var xhr = new XMLHttpRequest();

                xhr.open("GET", '/submit-order?'+ params, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send();
                //go back to product page after success
                window.location.replace(getCookie("db-product-page"))
            }
        }
    
</script>
<h1>Payment Page</h1>
<p id="error3" style="color:darkred;display: none;">Error, please select an address and credit card</p>

<div>
    <h3>Select Credit Card</h3>
    <div style="background-color: black;size: 2pt ; border-top: 2px dashed black;"></div>

    {% for card in credit_cards %}
    
    <div id="{{card['credit_id']}}" style="width: 100%; display: flex;">
        <div style="width: 30%; border-right: 2px solid black">
                <p style="padding: 8pt;">{{card['card_number']}}</p>
                <p style="color:blue; word-wrap: normal;">Billing Address: {{card['street_address']}}</p>        
        </div>
        
        <button name="Select" onclick="selectCard({{card['credit_id'] | safe}})" type="button" style="width:15%;margin: 5pt; margin-bottom: 10pt;" class="btn btn-success"> Select</button>
        <button name="Edit" onclick='editCard({{card["credit_id"] | safe}}, {{card["street_address"] | tojson}}, {{card["card_number"] | safe}}, {{card["city"] | tojson}}, {{card["postal_state"] | tojson}}, {{card["zip"] | tojson}})' type="button" style="width:15%;margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary"> Edit</button>
        <button name="Delete" onclick="deleteCard({{card['credit_id'] | safe}})" type="button" style="width:15%;margin: 5pt; margin-bottom: 10pt;" class="btn btn-danger"> Delete </button>        
    </div>
    <div style="background-color: black;size: 2pt ; border-top: 1px dashed black;"></div>

    {% endfor %}
    <button name="addBillingData" onclick="addNewCreditCard()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary"> Add New Credit Card</button>
    <form id="addNewCreditCard" style="display: none">
            <div class="form-group">
                    <label for="inputCreditCard">Credit Card Number</label>
                    <input type="text" class="form-control" id="inputCreditCard" placeholder="88888888888888">
                  </div>
            <h4>Billing Address</h4> </h4>
            <div class="form-group">
                    <label for="inputStreetAddress">Street Address</label>
                    <input type="text" class="form-control" id="inputStreetAddress" placeholder="123 Main Street APT#3">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputBillingCity">City</label>
                <input type="text" class="form-control" id="inputBillingCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputBillingState">State</label>
                <input type="text" class="form-control" id="inputBillingState">
              </div>
              <div class="form-group col-md-2">
                <label for="inputBillingZip">Zip</label>
                <input type="text" class="form-control" id="inputBillingZip">
              </div>
            </div>
            <p id="error2" style="color:darkred;display: none;">Error, fields in wrong format</p>
            <button type="button" onclick="saveCreditCardInfo()" class="btn btn-primary">Save Credit Card Info</button>
          </form>
</div>
<div>
    <h3>Select Shipping Address</h3>
    <div style="background-color: black;size: 2pt ; border-top: 2px dashed black;"></div>

    {% for addr in shipping_addresses %}
    
    <div id="{{addr['address_id']}}" style="display: flex;">
        
        <div style="width: 30%; border-right: 2px solid black">
                <p style="padding-top: 8pt;">{{addr['street_address']}}</p>
                <p>{{addr['city']}} {{addr['postal_state']}} {{addr['zip']}} </p>        
        </div>        
        <button name="Select" onclick="selectAddr({{addr['address_id'] | safe}})" type="button" style="width:15%;margin: 5pt; margin-bottom: 10pt;" class="btn btn-success"> Select</button>
        <button name="Edit" onclick='editAddr({{addr["address_id"] | safe}}, {{addr["street_address"] | tojson}}, {{addr["city"] | tojson}}, {{addr["postal_state"] | tojson}}, {{addr["zip"] | tojson}})' type="button" style="width:15%;margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary"> Edit</button>
        <button name="Delete" onclick="deleteAddr({{addr['address_id'] | safe}})" type="button" style="width:15%;margin: 5pt; margin-bottom: 10pt;" class="btn btn-danger"> Delete </button>        
    </div>
    <div style="background-color: black;size: 2pt ; border-top: 1px dashed black;"></div>

    {% endfor %}
    <button name="addAddress" onclick="addAddr()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary"> Add a Shipping Address</button>
    <form id="addNewAddress" style="display: none">
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputState">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <p id="error" style="color:darkred;display: none;">Error, write address in the right format</p>
            <button type="button" onclick="saveAddress()" class="btn btn-primary">Save Address</button>
          </form>
</div>

<button name="submitOrder" onclick="submitOrder()" type="button" style="width:100%; margin: 5pt; margin-bottom: 10pt;" class="btn btn-success"> Submit Order</button>

{% endblock %}