{% extends "base.html" %}

{% block content %}
    <script>
    function viewCart() {
        document.cookie = "db-backUrl=" + window.location.href+";";
        document.cookie = "db-product-page=" + window.location.href+";";

        console.log("hello")
        var xhr = new XMLHttpRequest();
        console.log("1")

        xhr.open("GET", '/view-cart', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
    
        window.location.replace(window.location.origin+"/view-cart");
        console.log("2");
    }

    function addToCart(product_id, name, price) {
        var params = "product_id=" + product_id + "&product_name=" + name + "&quantity=" + 1 + "&price=" + price;
        var xhr = new XMLHttpRequest();

        xhr.open("GET", '/add-cart?'+ params, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
    }

    function logout() {
        window.location.replace(window.location.origin+"/");
    }
    </script>
    <h1 style="margin: 5px;">
        Hello {{username}}, here are products from {{ state }}. Your balance is ${{balance}}.
    </h1>
    <div>
        <button name="cart" onclick="viewCart()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-success">Modify Cart/Checkout</button>
        <button name="logout" onclick="logout()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary">Logout</button>
    </div>
    {% for item in rows %}
    <h2 style="color:fuchsia; margin: 20pt">{{item.category}} </h2>
    <div style="display: flex; flex-flow: row wrap;">
    {% for item in item['items'] %}
    <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
                    <h5 class="card-title">{{item['name'].capitalize()}}</h5>
                    <p class="card-text">Size: {{item['size']}}</p>
                    {% if item['alcohol_content'] is not none %}   
                    {% if item['alcohol_content'] != 0.00 %}   
      
                    <p class="card-text" style="color: red" >Alc. Content: {{item['alcohol_content']}}</p>
                    {% endif %}
                    {% endif %}
      
                    <p class="card-text" >Nutritional Value: {{item['nutritional_value']}}</p>
                    <p class="card-text" style="color:darkgreen;">${{item['price']}}</p>
              <a onclick="addToCart({{item['product_ID'] | safe}}, &quot;{{item['name'] | safe}}&quot;, {{item['price'] | safe}})" class="btn btn-primary">Add to Cart</a>
            </div>
    </div>
    {% endfor %}
    </div>

    {% endfor %}
{% endblock %}