{% extends "base.html" %}

{% block content %}
    <script>
    
    var existingProduct = false;

    function editProduct(product_id, product_name, product_type, size, alcohol_content, nutritional_value, price) {
        document.getElementById("product_id_of_edit").value = product_id
        document.getElementById("product_name").value = product_name
        document.getElementById("product_type").value = product_type
        document.getElementById("product_size").value = size
        document.getElementById("alcohol_content").value = alcohol_content
        document.getElementById("nutritional_value").value = nutritional_value
        document.getElementById("productPrice").value = price
        existingProduct = true;
        document.getElementById("addNewProduct").style.display="block"

    }

    function deleteProduct(product_id) {
        var params = "product_id=" + product_id;
        var xhr = new XMLHttpRequest();

        xhr.open("GET", '/delete-product?'+ params, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        window.location.reload(true)
    }

    function addStockToWarehouse() {

    }

    function validateData( productName , productType , productSize, alcoholContent, nutritionalValue, productPrice) {
        if(productName != "" && productType != "" && productSize != 0 && nutritionalValue != 0, productPrice != 0) {
            if(productType != "Select")
                return true;
        }

        return false;
    }
    
    function saveNewProduct() {
        productName = document.getElementById("product_name").value
        productType = document.getElementById("product_type").value
        productSize = document.getElementById("product_size").value
        alcoholContent = document.getElementById("alcohol_content").value
        nutritionalValue = document.getElementById("nutritional_value").value
        productPrice = document.getElementById("productPrice").value
        productState = document.getElementById("select_state").value
        if(alcoholContent < 0) {
            alcoholContent = 0;
        }

        if(!validateData( productName , productType , productSize, alcoholContent, nutritionalValue, productPrice)) {
            document.getElementById("error2").style.display="block"
            return;
        }


        //send data
        var params = "productName=" + productName + "&productType=" + productType + "&productSize=" + productSize + "&alcoholContent=" + alcoholContent+"&nutritionalValue=" +nutritionalValue+"&productPrice="+productPrice;
        var xhr = new XMLHttpRequest();
        params += "&product_state=";
        params += productState;

        if(existingProduct) {
            params += "&product_id="
            params += document.getElementById("product_id_of_edit").value;
            document.getElementById("product_id_of_edit").value = "";
            existingProduct= false;

            xhr.open("GET", '/update-product?'+ params, true);       

        } else {
            xhr.open("GET", '/add-product?'+ params, true);
        }
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();
        //refresh page
        window.location.reload(true)
        window.location.href = getCookie("db-product-page")

        document.getElementById("addNewProduct").style.display="none"
    }
    function refreshForState(username, password) {
        params = "username="+username+"&password="+password+"&state_select="+document.getElementById("select_state_products").value;
        window.location.href = window.location.origin+"/products?"+params;
    }

    function addProduct() {
        document.getElementById("addNewProduct").style.display="block"
    }

    function logout() {
        window.location.replace(window.location.origin+"/");
    }
    </script>

    <script>
        document.cookie = "db-product-page=" + window.location.href+";";

    </script>

    <h1 style="margin: 5px;">
        Hello {{username}}, you are staff in {{state}} so you can add/modify/delete the products only in {{state}}:
    </h1>
    <div>
        <button name="stockToWarehouse" onclick="addStockToWarehouse()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-success">Add Stock to Warehouse</button>
        <button name="product" onclick="addProduct()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary">Add Product</button>

        <button name="logout" onclick="logout()" type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-secondary">Logout</button>
        <div class="input-group mb-3" style="width: 20%;">
                <div class="input-group-prepend">
                        <label class="input-group-text" for="select_state_products">State</label>
                </div>
                <select class="custom-select" id="select_state_products">

                    <option selected>{{state}}</option>

                    {% for st in temp %}
                        <option value={{st | tojson}}>{{st}}</option>
                    {% endfor%}

                </select>
        <button name="stateDropDown" onclick='refreshForState({{username | tojson}}, {{password | tojson}})' type="button" style="margin: 5pt; margin-bottom: 10pt;" class="btn btn-primary">Refresh State</button>

        </div>
    </div>

    <h1 id="product_id_of_edit" style="display: none"></h1>
    <form id="addNewProduct" style="display: none; border: 2px black dotted; padding: 10px">
        <h4>Product Name</h4> </h4>

        <div class="form-group">
                <input type="text" class="form-control" id="product_name" placeholder="Apples">
                </div>
        <h4>Product Info</h4> </h4>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <label class="input-group-text" for="product_type">Product Type</label>
                      </div>
                <select class="custom-select" id="product_type">

                    <option selected>Select</option>

                    {% for type in product_types%}
                        <option value={{type | tojson}}>{{type}}</option>
                    {% endfor%}
                </select>
        </div>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <label class="input-group-text" for="select_state">State</label>
                      </div>
                <select class="custom-select" id="select_state">

                    <option selected>{{state}}</option>

                    {% for st in temp %}
                        <option value={{st | tojson}}>{{st}}</option>
                    {% endfor%}

                </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="product_size">Product Size</label>
            <input type="number" class="form-control" id="product_size" step=".01" placeholder="1.5">
            </div>
            <div class="form-group col-md-4">
            <label for="alcohol_content">Alcohol Content</label>
            <input type="number" class="form-control" min ="0.0" id="alcohol_content" step="0.50" placeholder="12.40">
            <p style="color: chocolate">**Only for Alcohol product types</p>
        </div>
            <div class="form-group col-md-2">
            <label for="nutritional_value">Nutritional Value</label>
            <input type="number" class="form-control" id="nutritional_value" placeholder="88">
            </div>
        </div>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" step="0.50" id="productPrice" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
              </div>
        <p id="error2" style="color:darkred;display: none;">Error, fields in wrong format</p>
        <button type="button" onclick="saveNewProduct()" class="btn btn-primary">Save Product</button>
    </form>

    {% for item in rows %}
    <h2 style="color:seagreen; margin: 20pt">{{item.category}} </h2>
    <div style="display: flex; flex-flow: row wrap;">
    {% for item in item['items'] %}
    <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">{{item['name'].capitalize()}}</h5>
              <p class="card-text">Size: {{item['size']}}</p>
              {% if item['alcohol_content'] is not none %}   
              {% if item['alcohol_content'] != 0.00 %}   

              <p class="card-text" style="color: red" >Alc. Content: {{item['alcohol_content']}}</p>
              {% endif %}
              {% endif %}

              <p class="card-text" >Nutritional Value: {{item['nutritional_value']}}</p>
              <p class="card-text" style="color:darkgreen;">${{item['price']}}</p>

              <a onclick='editProduct({{item["product_ID"] | safe}}, {{item["name"] | tojson}}, {{item["product_type"] | tojson}}, {{item["size"] | safe}}, {{item["alcohol_content"] | safe}}, {{item["nutritional_value"] | safe}}, {{item["price"] | safe}})' class="btn btn-primary">Edit Product</a>
              <a onclick="deleteProduct({{item['product_ID'] | safe}})" class="btn btn-danger">Delete</a>
            </div>
    </div>
    {% endfor %}
    </div>

    {% endfor %}
{% endblock %}